<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning Prediction</title>
    <link rel="icon" href="../static/brain.png" type="image/png" sizes="32x32">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss"></style>
</head>
<body>
    <div class="bg-white">
        <header class="absolute inset-x-0 top-0 z-50">
          <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
            <div class="flex lg:flex-1">
              <a href="https://github.com/firzzairvn" class="-m-1.5 p-1.5">
                <img class="h-8 w-auto" src="..\static\github_logo.png" alt="">
              </a>
            </div>
            <div class="hidden lg:flex lg:gap-x-12">
                <a href="#" class="text-sm/6 font-semibold text-gray-900">created by Muhammad Irvan Arfirza</a>
              </div>
            <div class="hidden lg:flex lg:flex-1 lg:justify-end">
              <a href="https://www.linkedin.com/in/firzairvan/" class="text-sm/6 font-semibold text-gray-900">Linkedin<span aria-hidden="true">&rarr;</span></a>
            </div>
          </nav>
          <!-- Mobile menu, show/hide based on menu open state. -->
          <div class="lg:hidden" role="dialog" aria-modal="true">
            <!-- Background backdrop, show/hide based on slide-over state. -->
            <div class="fixed inset-0 z-50"></div>
            <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
              <div class="flex items-center justify-between">
                <a href="https://github.com/firzzairvn" class="-m-1.5 p-1.5">
                  <img class="h-8 w-auto" src="..\static\github_logo.png" alt="">
                </a>
                <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                  <span class="sr-only">Close menu</span>
                  <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
              <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-gray-500/10">
                  <div class="py-6">
                    <a href="https://www.linkedin.com/in/firzairvan/" class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Linkedin</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
      
        <div class="relative isolate px-6 pt-14 lg:px-8">
          <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
            <div class="relative left-[calc(50%-11rem)] aspect-1155/678 w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
          </div>
          <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
            <div class="text-center">
                <h1 class="text-5xl font-bold tracking-tight text-balance text-gray-900 sm:text-7xl">
                  <span class="auto-typed"></span>
                </h1>
                <p class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8">
                  Model berikut akan memprediksi harga sebuah mobil bekas berdasarkan beberapa parameter dari mobil tersebut.
                </p>
                <div class="mt-10 flex items-center justify-center gap-x-6">
                    <a href="#prediction" class="rounded-full bg-black px-4.5 py-3.5 text-sm font-semibold text-white shadow-xs transition-all duration-300 hover:bg-white hover:text-black focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black ring-1 ring-gray-900/10 hover:ring-gray-900/20">
                        Get started <span aria-hidden="true">→</span>
                      </a>
                      
                </div>
              </div>
          </div>
          <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
            <div class="relative left-[calc(50%+3rem)] aspect-1155/678 w-[36.125rem] -translate-x-1/2 bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
          </div>

          <div id="prediction" class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
            <div class="content-center">
                <div class="text-center">
                    <h1 class="text-2xl font-bold tracking-tight text-balance text-gray-900 sm:text-5xl">
                        Masukkan Nilai Prediksi 
                    </h1>
                </div>

                <form method="POST" action="/predict" class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
                    <!-- year input  -->
                    <div>
                        <label for="year" class="block text-sm/6 font-medium text-gray-900">Tahun Mobil</label>
                        <div class="mt-2">
                            <div class="flex items-center rounded-md bg-white pl-3 outline-1 outline-gray-300">
                                <input type="text" name="year" id="year" class="block w-full py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder-gray-400 focus:outline-none sm:text-sm" placeholder="Masukkan data" required>
                            </div>
                        </div>
                    </div>
                    
                    <!-- engine size input -->
                    <div>
                        <label for="engine_size" class="mt-6 block text-sm/6 font-medium text-gray-900">Engine Size (L)</label>
                        <div class="mt-2">
                            <div class="flex items-center rounded-md bg-white pl-3 outline-1 outline-gray-300">
                                <input type="text" name="engine_size" id="engine_size" class="block w-full py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder-gray-400 focus:outline-none sm:text-sm" placeholder="Masukkan data" required>
                            </div>
                        </div>
                    </div>


                    <!-- odometer input -->
                    <div>
                        <label for="mileage" class="mt-6 block text-sm/6 font-medium text-gray-900">Total Odometer (Km)</label>
                        <div class="mt-2">
                            <div class="flex items-center rounded-md bg-white pl-3 outline-1 outline-gray-300">
                                <input type="text" name="mileage" id="mileage" class="block w-full py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder-gray-400 focus:outline-none sm:text-sm" placeholder="Masukkan data" required>
                            </div>
                        </div>
                    </div>
                    
                    <!-- doors input -->
                    <div>
                        <label for="doors" class="mt-6 block text-sm/6 font-medium text-gray-900">Doors</label>
                        <div class="mt-2">
                            <div class="flex items-center rounded-md bg-white pl-3 outline-1 outline-gray-300">
                                <input type="text" name="doors" id="doors" class="block w-full py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder-gray-400 focus:outline-none sm:text-sm" placeholder="Masukkan data" required>
                            </div>
                        </div>
                    </div>
                
                    <!-- Tombol Submit -->
                    <div class="mt-10 flex items-center justify-center gap-x-6">
                        <input type="submit" value="Predict" class="rounded-full bg-black px-4.5 py-3.5 text-sm font-semibold text-white shadow-xs transition-all duration-300 hover:bg-white hover:text-black ring-1 ring-gray-900/10 hover:ring-gray-900/20">
                        </input>
                    </div>

                    <!-- hasil Prediksi -->
                    <div>
                        <label for="hasil" id="hasil" class="mt-6 block text-sm/6 font-medium text-gray-900">Hasil Prediksi</label>
                        <div class="mt-2">
                            <div class="flex items-center rounded-md bg-gray-100 pl-3 py-1.5 text-base text-gray-900 sm:text-sm/6 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
                                <span id="output">
                                    {{ result }}
                                </span>
                            </div>
                        </div>
                    </div>

                </form>
                
            </div>

          </div>
        </div>
      </div>

      <script>
        document.querySelector('a[href="#prediction"]').addEventListener("click", function (e) {
    e.preventDefault();
    document.querySelector("#prediction").scrollIntoView({
        behavior: "smooth"
    });
});

      </script>
        <script>
            document.getElementById("footer-text").textContent = `Copyright © ${new Date().getFullYear()} - Created by Muhammad Irvan Arfirza`;
        </script>    
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script>
    var typed = new Typed(".auto-typed", {
        strings: ["Machine Learning Prediction"],
        typeSpeed: 100,
        backSpeed: 80,
        startdelay: 300,
        backdelay: 500,
        loop: true
        });
    </script>
</body>
</html>